<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Professor</title>
    <link rel="stylesheet" href="/resources/assets/css/estilos.css">
</head>
<body>
    <h1>Novo Professor</h1>

    <form action="#" th:action="@{/professor/salvar}" th:object="${professor}" method="post">
        <label for="nome">Nome completo</label><br>
        <input type="text" id="nome" th:field="*{nome}">
        <button type="submit">Inserir</button><br>
        <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
    </form>
</body>
</html>