<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ola, 2°</title>
</head>
<body>
    <h1 style="color: blue;">Olá, 2° lugar</h1>
    <img src="https://s2-g1.glbimg.com/5M_AzboMeoJ6IBh3nnWVhloLAiU=/0x0:1080x1164/600x0/smart/filters:gifv():strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/j/P/2iUsCaRNuDbEmDmAEKkQ/3palec-83032306-620541801840586-8119925803261048176-n.jpg">
</body>
</html>