<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar todos os contatos</title>
    <link rel="stylesheet" href="/resources/assets/css/estilos.css">
</head>
<body>
    <h1>Contatos: </h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Descrição</th>
            <th>Tipo</th>
            <th>ID do aluno</th>
        </tr>
        <tr th:each="contato : ${contatos}">
            <td th:text="${contato.id}"></td>
            <td th:text="${contato.descricao}"></td>
            <td th:text="${contato.tipo}"></td>
            <td th:text="${contato.aluno_id}"></td>
        </tr>
    </table>
     

</body>
</html>